/* ---------------------------------------------- */


/* -----------Comienza Pag. Index---------------- */


/* ---------------------------------------------- */

* {
    margin: 0%;
    padding: 0%;
}

#fotoProducto {
    width: 10vw;
    height: 100vh;
}

.tmnLogo {
    height: 150px;
    width: 150px;
    margin: 5px 30px;
}

.tmnBarra {
    width: 100%;
}

.tmnCarrito {
    height: 100%;
}

.btnCoctel {
    font-size: 15px;
    color: blue;
}


/*
Flexbox grid: https://github.com/anacoelhovicente/tangerine
*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html,
body {
    color: rgb(252, 249, 249);
    font: 400 14px/1.5 Montserrat, sans-serif;
}

a,
a:hover,
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

h3 {
    font-size: 1.5rem;
    margin: 15;
    text-align: center;
    justify-content: center;
}

header {
    color: #FFF;
    height: 100vh;
    text-align: center;
}

header h1 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    z-index: 1
}

.down-arr {
    font-size: 3rem;
    padding: 0 20px 20px 20px;
    z-index: 1;
    position: absolute;
}

section {
    min-height: 100vh;
    padding: 40px 100px;
    text-align: center;
    justify-content: center;
    width: 100%;
}

section:nth-child(2) {
    color: black;
}

.full-ibage-wrap {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.full-image {
    height: auto;
    left: 0;
    min-height: 50%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}

.distancia {
    line-height: 30px;
    align-items: center;
    justify-content: center;
}


/* ---------------------------------------------- */


/* -----------finaliza Pag. Index---------------- */


/* ---------------------------------------------- */


/* ---------------------------------------------- */


/* -----------Comienza Pag. Bienvenida----------- */


/* ---------------------------------------------- */

#bodybienvenida {
    margin: 0%;
    padding: 0%;
    background-image: url(../imgs/fondoindex.png);
    background-size: cover;
    display: flex;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.bgColor {
    background: linear-gradient(to right, #cb232c, #ce1d61);
}

.remember {
    margin-bottom: 15px;
}

.Color {
    background-color: rgba(41, 116, 41, 0.544);
    font-size: large;
    color: #FFF;
}


/* ---------------------------------------------- */


/* -----------Finaliza Pag. Bienvenida----------- */


/* ---------------------------------------------- */