* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(/imgs/bg.jpg);
    background-size: cover;
}
#fotoProducto{
    width: 10vw;
    height: auto;

}
.tmnLogo{
    height: 150px;
    width: 150px;
}
.tmnBarra{
    width: 80%;
}

.tmnCarrito{
    height: 100%;

}

