/* ---------------------------------------------- */
/* -----------Comienza Pag. Index---------------- */
/* ---------------------------------------------- */
* 
{
    margin: 0%;
    padding: 0%;
}


#fotoProducto
{
    width: 10vw;
    height: auto;
}
.tmnLogo
{
    height: 150px;
    width: 150px;
    margin: 5px 30px;
}
.tmnBarra
{
    width: 100%;
}

.tmnCarrito
{
    height: 100%;
}
.btnCoctel{
    font-size: 15px;
    color: blue;
}

/* ---------------------------------------------- */
/* -----------finaliza Pag. Index---------------- */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* -----------Comienza Pag. Bienvenida----------- */
/* ---------------------------------------------- */

#bodybienvenida
{
    margin:0%;
    padding:0%;
    background-image: url(../imgs/fondoindex.png);
    background-size: cover;
    display: flex;
}

.bg-image-vertical 
    {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) 
    {
    .h-custom-2 {
    height: 100%;
    }
}

.bgColor
{
    background: linear-gradient(to right,#cb232c, #ce1d61);
}
.remember
{
margin-bottom: 15px;
}

/* ---------------------------------------------- */
/* -----------Finaliza Pag. Bienvenida----------- */
/* ---------------------------------------------- */


